body{
    font-family: sans-serif;
    background-color: #580cb5;
}

#container {
    width: 400px;
    height: 400px;
    position: relative;
    background-color: #a16ede;
}

#animacao {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: violet;
}
